<div class="data-form">
    <form class="form-signin" action="/movies" method="POST">
      <h2 class="form-signin-heading">Create a new user:</h2>
      <label for="inputName">Name</label>
      <input type="text" name="name" id="inputName" class="form-control" placeholder="Name" required autofocus>
      <label for="inputRating"></label>
      <input type="text" name="rating" id="inputRating" class="form-control" placeholder="Rating" required>
      <label for="inputCast">Cast</label>
      <input type="text" name="cast" id="inputCast" class="form-control" placeholder="Cast" required>
      <label for="inputGenre">Genre</label>
      <input type="text" name="genre" id="inputGenre" class="form-control" placeholder="Genre" required>
      <label for="inputReleaseDate">Release date</label>
      <input type="date" name="releaseDate" id="inputReleaseDate" class="form-control" required>
      <br />
      <button class="btn btn-primary btn-block" type="submit">Create</button>
    </form>
  </div>