<div class="data-form">
    <form class="form-signin" action="/auth/login" method="POST">
      <h2 class="form-signin-heading">Login:</h2>

      <label for="inputEmail">Email address</label>      
      <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required>

      <label for="inputPassword">Password</label>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
      
      
      <br /><button class="btn btn-primary btn-block" type="submit">Login</button>
      <a class="btn btn-secondary" href="/auth/register">Register</a>
    </form>
  </div>